<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="PATTERN" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n"/>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${PATTERN}</pattern>
		</encoder>
	</appender>

	<logger name="net.yoedtos.wakeonfx.core.net.NetMonitor" level="OFF"/>

	<root level="INFO">
		<appender-ref ref="STDOUT"/>
	</root>
</configuration>
